<% if !defined? issue_id 
      issue_id = -1
   end
%>
<%= form_for :issue, :html => { :class => "aui", :multipart => true }, :url => "/issues?issue_id=#{issue_id}" do |f| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <form id="issue-form" class="aui" action="/issues" method="post" enctype="multipart/form-data">
  
   <input type="hidden" name="csrfmiddlewaretoken" value="669bTcsqvhTu92Q3hpoP2kvmcoiWLrC5">
   <div id="title-and-description">
      <div id="id_title_group" class="field-group ">
         <label for="id_title">
         Title<span class="aui-icon icon-required"></span><span class="content">required</span>
         </label>
         <% if defined? issue_id %>
            <%= f.text_field :title, :class=>"text", :required => true %>
         <% else %>
            <%= f.text_field :title, :class=>"text", :required => true, value:@issue.title %>
         <% end %>
      </div>
      <div class="field-group">
         <label for="id_content">Description</label>
         <div class="textarea-preview">
            <div class="markup-type-markdown">
               <div id="markItUpId_content" class="markItUp">
                  <div class="markItUpContainer">
                     <% if defined? issue_id %>
                        <%= f.text_area :description, :class=>"bb-mention-input markItUpEditor"%>
                     <% else %>
                        <%= f.text_area :description, :class=>"bb-mention-input markItUpEditor", cols: 50, rows: 10, :value=>@issue.description %>
                     <% end %>
                     
                     <div class="markItUpFooter"></div>
                  </div>
               </div>
            </div>
            <div class="preview-container wiki-content"></div>
            <div class="mask"></div>
         </div>
      </div>
      <div class="field-group user-select">
         <label for="s2id_autogen3">Assignee</label>
         
         <% if defined? issue_id %>
            <%= f.collection_select(:assignee_id, User.all, :id, :name) %>
         <% else %>
            <%= f.collection_select(:assignee_id, User.all, :id, :name, {:selected => @issue.assignee.id}) %>
         <% end %>
         
      </div>
      <div id="id_kind_group" class="field-group ">
         <label for="s2id_autogen1">
         Kind<span class="aui-icon icon-required"></span><span class="content">required</span>
         </label>
         <% if defined? issue_id %> 
            <%= f.collection_select(:type_id, Kind.all, :id, :name) %>
         <% else %>
            <%= f.collection_select(:type_id, Kind.all, :id, :name, {:selected => @issue.kind.id}) %>
         <% end %>
      </div>
      <div id="id_priority_group" class="field-group ">
         <label for="s2id_autogen2">
         Priority<span class="aui-icon icon-required"></span><span class="content">required</span>
         </label>
         <% if defined? issue_id %>
            <%= f.collection_select(:priority_id, Priority.all, :id, :name) %>
         <% else %>
            <%= f.collection_select(:priority_id, Priority.all, :id, :name, {:selected => @issue.priority.id}) %>
         <% end %>
      </div>
      <div id="attachments" class="field-group">
         <label>Attachments</label>
         
         <%= file_field_tag "files[]", type: :file, multiple: true, :id=>"file" %>
      
      </div>
      <div class="buttons-container">
         <div class="buttons">
            <input type="submit" name="commit" value="<% if isCreating %>Create issue<% else %>Update issue<% end %>" data-disable-with="<% if isCreating %>Create issue<% else %>Update issue<% end %>" class="aui-button aui-button-primary">
               <% if isCreating %>Create issue<% else %>Update issue<% end %>
            </input>
            
            <%= link_to 'Cancel', url_for(:back), :class => 'cancel' %>
         </div>
      </div>
   </div>
   </form>
<% end %>
