<style>
  body {
    background: white; !important
  }
</style>
<section id="new-issue" style="padding: 20px">
   <h1>Edit issue</h1>

   <%= render 'form', issue: @issue, isCreating: false, issue_id: @issue.id %>

</section>