<style>
  body {
    background: white; !important
  }
</style>
<div class="aui-page-panel-content" data-module="repo/index" id="repo-content">
  <div class="aui-group repo-page-header">
    <div class="aui-item section-title">
      <h1>
      Issues Index
      </h1>
    </div>
    <div class="aui-item page-actions">
      <a class="aui-button aui-button-subtle" href="/issues/new" id="create-issue-contextual">
        <span class="aui-icon aui-icon-small aui-iconfont-add">
        </span>
        <span class="aui-button-label">
          Create issue
        </span>
      </a>
    </div>
  </div>
  <div class="clearfix" id="issues">
    <section id="issues-list">
      <header>
        <div class="clearfix" id="issues-toolbar">
          <div class="filter-container">
            <p class="filter-label">
              Filters:
            </p>
            <ul class="filter-status">
              <li id="all" aria-pressed="<%= params[:filter] == "1" %>">
                <a href="/issues?filter=1<%= "&sort=#{params[:sort]}" if params[:sort] %>">
                  All
                </a>
              </li>
              <li id="open" aria-pressed="<%= params[:filter] == "2" || (params[:filter].nil? and params[:status].nil?) %>">
                <a href="/issues?filter=2<%= "&sort=#{params[:sort]}" if params[:sort] %>">
                  Open
                </a>
              </li>
              <li id="mine" aria-pressed="<%= params[:filter] == "3" %>">
                <a href="/issues?filter=3<%= "&sort=#{params[:sort]}" if params[:sort] %>">
                  My issues
                </a>
              </li>
              <li id="watching" aria-pressed="<%= params[:filter] == "4" %>">
                <a href="/issues?filter=4<%= "&sort=#{params[:sort]}" if params[:sort] %>">
                  Watching
                </a>
              </li>
            </ul>
          </div>
        </div>
        <h1>
        Issues
        <span class="secondary">
          (<%= @issues.length > 0 ? 1 : 0 %>–<%= @issues.length %> of <%= @issues.length %>)
        </span>
        </h1>
      </header>
      <p id="issues-filter-criteria">
      </p>
      <p id="issues-filter-criteria">
      <% if params[:kind] %>
          <b>kind: </b>"<%= Kind.find(params[:kind]).name %>"
      <% end %>
      <% if params[:priority] %>
          <b>priority: </b>"<%= Kind.find(params[:priority]).name %>"
      <% end %>
      <% if params[:responsible] %>
          <b>assignee: </b>"<%= User.find(params[:responsible]).name %>"
      <% end %>
      <% if params[:status] %>
          <b>status: </b>"<%= Status.find(params[:status]).name %>"
      <% end %>
      </p>
      <div class="maskable">
        <table class="aui aui-table-interactive bb-list issues-list iterable optcols_0" data-current-status="" data-module="components/follow-list">
          <thead>
            <tr>
              <%
                sortClass = "none"
                if params[:sort] == "id"
                  sortClass = "ascending"
                elsif params[:sort] == "-id"
                  sortClass = "descending"
                end
              %>
              <th aria-sort="<%= sortClass%>" class="text sortable-table--column-header" data-initial-sort-direction="<%= params[:sort] == "id" ? "ascending" : "descending" %>" role="columnheader">
                <a href="/issues?sort=<%= "-" if params[:sort] == "id" %>id<%= "&filter=#{params[:filter]}" if params[:filter]%><%= "&responsible=#{params[:responsible]}" if params[:responsible] %><%= "&kind=#{params[:kind]}" if params[:kind] %><%= "&priority=#{params[:priority]}" if params[:priority] %><%= "&status=#{params[:status]}" if params[:status] %>">
                  Title
                </a>
              </th>
              <%
                sortClass = "none"
                if params[:sort] == "kind"
                  sortClass = "ascending"
                elsif params[:sort] == "-kind"
                  sortClass = "descending"
                end
              %>
              <th aria-sort="<%= sortClass%>" class="icon-col sortable-table--column-header" data-initial-sort-direction="<%= params[:sort] == "kind" ? "ascending" : "descending" %>" role="columnheader">
                <a href="/issues?sort=<%= "-" if params[:sort] == "kind" %>kind<%= "&filter=#{params[:filter]}" if params[:filter]%><%= "&responsible=#{params[:responsible]}" if params[:responsible] %><%= "&kind=#{params[:kind]}" if params[:kind] %><%= "&priority=#{params[:priority]}" if params[:priority] %><%= "&status=#{params[:status]}" if params[:status] %>" title="Type">
                  T
                </a>
              </th>
              <%
                sortClass = "none"
                if params[:sort] == "priority"
                  sortClass = "ascending"
                elsif params[:sort] == "-priority"
                  sortClass = "descending"
                end
              %>
              <th aria-sort="<%= sortClass%>" class="icon-col sortable-table--column-header" data-initial-sort-direction="<%= params[:sort] == "priority" ? "ascending" : "descending" %>" role="columnheader">
                <a href="/issues?sort=<%= "-" if params[:sort] == "priority" %>priority<%= "&filter=#{params[:filter]}" if params[:filter]%><%= "&responsible=#{params[:responsible]}" if params[:responsible] %><%= "&kind=#{params[:kind]}" if params[:kind] %><%= "&priority=#{params[:priority]}" if params[:priority] %><%= "&status=#{params[:status]}" if params[:status] %>" title="Priority">
                  P
                </a>
              </th>
              <%
                sortClass = "none"
                if params[:sort] == "status"
                  sortClass = "ascending"
                elsif params[:sort] == "-status"
                  sortClass = "descending"
                end
              %>
              <th aria-sort="<%= sortClass%>" class="state sortable-table--column-header" data-initial-sort-direction="<%= params[:sort] == "status" ? "ascending" : "descending" %>" role="columnheader">
                <a href="/issues?sort=<%= "-" if params[:sort] == "status" %>status<%= "&filter=#{params[:filter]}" if params[:filter]%><%= "&responsible=#{params[:responsible]}" if params[:responsible] %><%= "&kind=#{params[:kind]}" if params[:kind] %><%= "&priority=#{params[:priority]}" if params[:priority] %><%= "&status=#{params[:status]}" if params[:status] %>">
                  Status
                </a>
              </th>
              <%
                sortClass = "none"
                if params[:sort] == "votes"
                  sortClass = "ascending"
                elsif params[:sort] == "-votes"
                  sortClass = "descending"
                end
              %>
              <th aria-sort="<%= sortClass%>" class="votes sortable-table--column-header" data-initial-sort-direction="<%= params[:sort] == "votes" ? "ascending" : "descending" %>" role="columnheader">
                <a href="/issues?sort=<%= "-" if params[:sort] == "votes" %>votes<%= "&filter=#{params[:filter]}" if params[:filter]%><%= "&responsible=#{params[:responsible]}" if params[:responsible] %><%= "&kind=#{params[:kind]}" if params[:kind] %><%= "&priority=#{params[:priority]}" if params[:priority] %><%= "&status=#{params[:status]}" if params[:status] %>">
                  Votes
                </a>
              </th>
              <%
                sortClass = "none"
                if params[:sort] == "responsible"
                  sortClass = "ascending"
                elsif params[:sort] == "-responsible"
                  sortClass = "descending"
                end
              %>
              <th aria-sort="<%= sortClass%>" class="user sortable-table--column-header" data-initial-sort-direction="<%= params[:sort] == "responsible" ? "ascending" : "descending" %>" role="columnheader">
                <a href="/issues?sort=<%= "-" if params[:sort] == "responsible" %>responsible<%= "&filter=#{params[:filter]}" if params[:filter]%><%= "&responsible=#{params[:responsible]}" if params[:responsible] %><%= "&kind=#{params[:kind]}" if params[:kind] %><%= "&priority=#{params[:priority]}" if params[:priority] %><%= "&status=#{params[:status]}" if params[:status] %>">
                  Assignee
                </a>
              </th>
              <%
                sortClass = "none"
                if params[:sort] == "created_on"
                  sortClass = "ascending"
                elsif params[:sort] == "-created_on"
                  sortClass = "descending"
                end
              %>
              <th aria-sort="<%= sortClass%>" class="date sortable-table--column-header" data-initial-sort-direction="<%= params[:sort] == "created_on" ? "ascending" : "descending" %>" role="columnheader">
                <a href="/issues?sort=<%= "-" if params[:sort] == "created_on" %>created_on<%= "&filter=#{params[:filter]}" if params[:filter]%><%= "&responsible=#{params[:responsible]}" if params[:responsible] %><%= "&kind=#{params[:kind]}" if params[:kind] %><%= "&priority=#{params[:priority]}" if params[:priority] %><%= "&status=#{params[:status]}" if params[:status] %>">
                  Created
                </a>
              </th>
              <%
                sortClass = "none"
                if params[:sort] == "updated_on"
                  sortClass = "ascending"
                elsif params[:sort] == "-updated_on"
                  sortClass = "descending"
                end
              %>
              <th aria-sort="<%= sortClass%>" class="date sortable-table--column-header" data-initial-sort-direction="<%= params[:sort] == "updated_on" ? "ascending" : "descending" %>" role="columnheader">
                <a href="/issues?sort=<%= "-" if params[:sort] == "updated_on" %>updated_on<%= "&filter=#{params[:filter]}" if params[:filter]%><%= "&responsible=#{params[:responsible]}" if params[:responsible] %><%= "&kind=#{params[:kind]}" if params[:kind] %><%= "&priority=#{params[:priority]}" if params[:priority] %><%= "&status=#{params[:status]}" if params[:status] %>">
                  Updated
                </a>
              </th>
              <th class="actions">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>

            <% @issues.each do |issue| %>




            <tr class=" iterable-item" data-state="new">
              <td class="text">
                <div class="flex-content">
                  <div class="flex-content--primary issue-list--title">
                    <a class="execute" href=<%= "/issues/#{issue.id}" %> title="<%= "##{issue.id}: #{issue.title}" %>">
                      <%= "##{issue.id}: #{issue.title}" %>
                    </a>
                  </div>
                </div>
              </td>
              <td class="icon-col">
                <!--<%= "&sort=#{params[:sort]}" if params[:sort] %><%= "&responsible=#{params[:responsible]}" if params[:responsible] %><%= "&kind=#{params[:kind]}" if params[:kind] %><%= "&priority=#{params[:priority]}" if params[:priority] %><%= "&status=#{params[:status]}" if params[:status] %>-->
                <a class="icon icon-<%= issue.kind.name %>" href="/issues?kind=<%= issue.kind.id %><%= "&sort=#{params[:sort]}" if params[:sort] %><%= "&responsible=#{params[:responsible]}" if params[:responsible] %><%= "&priority=#{params[:priority]}" if params[:priority] %><%= "&status=#{params[:status]}" if params[:status] %>" title="<%= "Filter by type: #{issue.kind.name.capitalize}" if issue.kind.nil? != nil %>">
                  <%= issue.kind.name %>
                </a>
              </td>
              <td class="icon-col">
                <a class="icon icon-<%= issue.priority.name %>" href="/issues?priority=<%= issue.priority.id %> <%= "&sort=#{params[:sort]}" if params[:sort] %><%= "&responsible=#{params[:responsible]}" if params[:responsible] %><%= "&kind=#{params[:kind]}" if params[:kind] %><%= "&status=#{params[:status]}" if params[:status] %>" title="<%= "Filter by priority: #{issue.priority.name.capitalize}" if issue.priority.nil? != nil %>">
                  <%= issue.priority.name %>
                </a>
              </td>
              <td class="state">
                <a class="<%= issue.status.style %>" href="/issues?status=<%= issue.status.id %><%= "&sort=#{params[:sort]}" if params[:sort] %><%= "&responsible=#{params[:responsible]}" if params[:responsible] %><%= "&kind=#{params[:kind]}" if params[:kind] %><%= "&priority=#{params[:priority]}" if params[:priority] %>" title="<%= "Filter by status: #{issue.status.name.capitalize}" if issue.status.nil? != nil %>">
                  <%= issue.status.name %>
                </a>
              </td>
              <td class="votes">
                <% if issue.voters.length > 0 %>
                  <span class="aui-badge <%= "aui-badge-active" if issue.assignee.id == session[:user_id] %>"><%= issue.voters.length %></span>
                <% end %>
              </td>
              <td class="user">
                <% if issue.assignee != nil %>
                <div>
                  <a href="/issues?responsible=<%= issue.assignee.id %><%= "&sort=#{params[:sort]}" if params[:sort] %><%= "&kind=#{params[:kind]}" if params[:kind] %><%= "&priority=#{params[:priority]}" if params[:priority] %><%= "&status=#{params[:status]}" if params[:status] %>" title="<%= "Filter by type: #{issue.kind.name.capitalize}" if issue.kind.nil? != nil %>" title="Filter issues assigned to: <%= issue.assignee.name.capitalize %>">
                    <div class="aui-avatar aui-avatar-xsmall">
                      <div class="aui-avatar-inner">
                        <img alt="" src="<%= issue.assignee.image.nil? ? "https://bitbucket.org/account/mbaque/avatar/32/?ts=1491727622" : issue.assignee.image %>"/>
                      </div>
                    </div>
                    <span title=<%= issue.assignee.name %>>
                      <%= issue.assignee.name %>
                    </span>
                  </a>
                </div>
                <% end %>
              </td>
              <td class="date">
                <div>
                  <time data-title="true" datetime="2017-04-07T14:35:07.709029+00:00">
                  <%= time_ago_in_words(issue.created_at) %>

                  </time>
                </div>
              </td>
              <td class="date">
                <div>
                  <time data-title="true" datetime="2017-04-09T16:47:37.800977+00:00">
                  <%= time_ago_in_words(issue.updated_at) %> ago
                  </time>
                </div>
              </td>
              <td class="actions">
                <div>
                  <%
                    existWatch = Watch.exists?(user_id: session[:user_id], issue_id: issue.id)
                  %>
                  <a class="follow <%= existWatch ? "following" : ""%>" style="cursor: pointer;" data-template="issue-watch-template" data-type="issue" onclick='document.getElementById("button-<%= issue.id%>").submit()' title="<%= existWatch ? "Stop watching this issue" : "Watch this issue" %>">
                    Stop watching
                  </a>
                </div>
                  <% if existWatch %>
                    <%
                      watch = Watch.find_by(user_id: session[:user_id], issue_id: issue.id);
                    %>
                    <%= button_to 'Watch/Unwatch', "/watches/#{watch.id}?token=#{session[:oauth_token]}"  , {:method=>:delete, :form => {id: "button-#{issue.id}"}, :style => 'display: none;'} %>
                  <% else %>
                    <%= button_to 'Watch/Unwatch', "/watches?user_id=#{session[:user_id]}&issue_id=#{issue.id}&token=#{session[:oauth_token]}"  , {:method=>:post, :form => {id: "button-#{issue.id}"}, :style => 'display: none;'} %>
                  <% end %>
              </td>
            </tr>




            <% end %>

          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
