<style>
  body {
    background: white; !important
  }
</style>

<section id="new-issue" style="padding: 20px">
   <h1>Create issue</h1>

   <%= render 'form', issue: @issue, isCreating: true %>

</section>
