<style>
   body {
   background: white; !important
   }
</style>
<div class="aui-page-panel-content" style="background: white">
  <div class="aui-group repo-page-header">
    <div class="aui-item page-actions">
      <a class="aui-button aui-button-subtle" href="/issues/new" id="create-issue-contextual">
        <span class="aui-icon aui-icon-small aui-iconfont-add">
        </span>
        <span class="aui-button-label">
          Create issue
        </span>
      </a>
    </div>
  </div>
<div id="issues" class="clearfix" style="padding: 40px">
   <section id="issue-view" class="" data-id="20830865" data-local-id="1" data-status="2">
      <div id="issue-header" class="clearfix">
         <span class="issue-id">
         Issue #<%= @issue.id %>
         </span>
         <a href="/issues?status=<%=@issue.status.id %>">
         <span class="<%= @issue.status.style %>"><%=@issue.status.name%></span>
         </a>
         <div class="issue-toolbar">
            <div id="workflow-dropdown" class="aui-dropdown2 aui-style-default aui-layer" resolved="" aria-hidden="true">
               <ul>
                  <% if (@issue.status.name!="new") %>
                        <li data-transition-to="1" title="Mark as new">
                        <%= link_to "new", set_status_issue_path(:status_id => 1) %>
                        </li>
                        <% end %>
                        <% if (@issue.status.name!="open") %>
                        <li data-transition-to="1" title="Mark as open">
                            <%= link_to "open", set_status_issue_path(:status_id => 2) %>
                        </li>
                        <% end %>
                        <% if (@issue.status.name!="on hold") %>
                        <li data-transition-to="4" title="Put on hold">
                            <%= link_to "on hold", set_status_issue_path(:status_id => 3) %>
                        </li>
                        <% end %>
                       <% if (@issue.status.name!="resolved") %>
                        <li data-transition-to="3" title="Resolve issue">
                            <%= link_to "resolved", set_status_issue_path(:status_id => 4) %>
                        </li>
                        <% end %>
                        <% if (@issue.status.name!="duplicate") %>
                        <li data-transition-to="6" title="Mark as duplicate">
                            <%= link_to "duplicate", set_status_issue_path(:status_id => 5) %>
                        </li>
                        <% end %>
                        <% if (@issue.status.name!="invalid") %>
                        <li data-transition-to="5" title="Mark as invalid">
                            <%= link_to "invalid", set_status_issue_path(:status_id => 6) %>
                        </li>
                        <% end %>
                        <% if (@issue.status.name!="wontfix") %>
                        <li data-transition-to="7" title="Mark as wontfix">
                            <%= link_to "wontfix", set_status_issue_path(:status_id => 7) %>
                        </li>
                        <% end %>
                        <% if (@issue.status.name!="closed") %>
                        <li data-transition-to="8" title="Close issue">
                            <%= link_to "closed", set_status_issue_path(:status_id => 8) %>
                        </li>
                        <% end %>
               </ul>
            </div>
            <div id="issue-actions" class="aui-buttons">
                <!-- si l'estat de la issue es new o open, status -> resolve, else status -> open -->
                <% if (@issue.status.name=="new" or @issue.status.name=="open") %>
                <%= link_to "Resolved", set_status_issue_path(:status_id => 4), :class =>"aui-button aui-button-primary" %>
                <% else %>
                <%= link_to "Open" , set_status_issue_path(:status_id => 2) , :class =>"aui-button aui-button-primary"%>
                <% end %>
               
               <a href="#" id="workflow" class="aui-button aui-dropdown2-trigger" aria-haspopup="true" resolved="" aria-controls="workflow-dropdown" aria-expanded="false">
               <span class="dropdown-text">Workflow</span>
               </a>
            </div>
            <div class="aui-buttons">
               <a href="#" data-se-id="more-button" class="aui-button aui-dropdown2-trigger" aria-haspopup="true" resolved="" aria-controls="more-dropdown" aria-expanded="false">
               More
               </a>
            </div>
            <div class="aui-buttons">
               <a href="/issues/<%= @issue.id %>/edit" id="edit-issue" class="aui-button" resolved="">Edit</a>
            </div>
            <div id="more-dropdown" class="aui-dropdown2 aui-style-default aui-layer" resolved="" aria-hidden="true">
               <ul>
                  <li>
                     <%= link_to 'Delete', "/issues/#{@issue.id}?token=#{session[:oauth_token]}"  , {:method=>:delete} %>
                  </li>
                  <li>
                     <a class="issue-attach-link" href="#attach">
                     Attach files
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="aui-group">
         <div class="aui-item">
            <div id="issue-main-content">
               <h1 id="issue-title"><%= @issue.title %></h1>
               <div class="issue-author">
                  <a href="/issues?responsible=<%= @issue.creator.id %>" title="Marc Baqué Vilamala">
                     <div class="aui-avatar aui-avatar-medium">
                        <div class="aui-avatar-inner">
                           <img src="<%= @issue.creator.image.nil? ? "https://bitbucket.org/account/mbaque/avatar/32/?ts=1491727622" : @issue.creator.image %>" class="" alt="">
                        </div>
                     </div>
                     <span title="<%= @issue.creator.name %>"><%= @issue.creator.name %></span>
                  </a>
                  created an issue
                  <time datetime="2017-04-07T16:19:18.234+02:00" title="7 April 2017 16:19"><%= @issue.created_at.strftime('%Y-%m-%d') %></time>
               </div>
               <div class="issue-description wiki-content">
                  <p>
                     <em><%= @issue.description == nil ? "No description provided": @issue.description %></em>
                  </p>
               </div>
               <div class="attachments" id="attachments">
                  <% @issue.attachments.each do | file | %>
                  <a class="attachment-item-block" title="<%= file.file_file_name %>" href="/images/<%= file.id %>/<%= file.file_file_name %>" target="_blank" download="<%= file.file_file_name %>">
                  <span class="attachment-item" style="background: url(https://d301sr5gafysq2.cloudfront.net/87002ef24cff/img/clip.png) no-repeat 50% 50% #f5f5f5;"></span>
                  <span class="filename"><%= file.file_file_name %></span>
                  </a>
                  <% end %>
               </div>
            </div>
            
            <!-- official response -->
            <div id="issues-comments-container">
               <% if @pinToTopComments.length != 0%>
               <h2>Official response</h2>
               <ul class="comments-list">
               <li class="issue-comment comment pinned-comment">
                <% @pinToTopComments.each do |pincomment| %>   
               <article class="iterable-item" data-comment-id="35934677" data-convert-markup="False">
               <header>
                   <a href="/diego_lao_fib/">
                       <div class="aui-avatar aui-avatar-medium">
                           <div class="aui-avatar-inner">
                              <!-- foto perfil-->
                               <img alt="" src="<%= pincomment.creator.image.nil? ? "https://bitbucket.org/account/mbaque/avatar/32/?ts=1491727622" : pincomment.creator.image %>"/>
                           </div>
                       </div>
                   </a>
                   <a href="/diego_lao_fib/" class="author"title="<%= " #{pincomment.creator.name}" %>"> <%= "#{pincomment.creator.name}" %>
                   </a>
                  <!-- <span class="aui-lozenge aui-lozenge-complete aui-lozenge-subtle user-issue-lozenge">repo owner</span>-->
               </header>
               <ul class="changes">
               </ul>
               <div class="wiki-content comment-content">
                   <p><%= "#{pincomment.text}" %></p>
               </div> 
               <ul class="comment-actions">
               <li>
                  <a class="comment-pin-link" data-pin-url="/api/internal/repositories/diego_lao_fib/issue_tracker_g13a/issues/1/comments/35823731/pin" href="#comment-pin">
                     <%= link_to "Unpin", unpin_to_top_comment_path(:id => pincomment.id) %>
                  </a>
               </li>
               <li>
                   <a class="permalink" href="#comment-35934677" title="Link directly to this comment">
                       <time datetime="2017-04-13T02:04:20+02:00" data-title="true" title="13 April 2017 02:04"><%= pincomment.created_at.strftime('%Y-%m-%d') %></time>
                   </a>
               </li>
               </ul>
               </article>
               </li>
               </ul>
               <% end %>
             <% end %>
             <!-- comments -->
            <div id="issues-comments-container">
               <h2>
                  Comments
                  (<%= @comments.length %>)
               </h2>
               <ol id="issue-main-content" class="comments-list commentable">
                  <% @comments.each do |comment| %>
                  <li class="issue-comment comment" id="comment-35823731">
                     <article id="comment-35823731" class="iterable-item" data-comment-id="35823731" data-convert-markup="False" data-content="abc">
                        <header>
                           <a href="/mbaque/">
                              <!--avatar de lusuari del comment-->
                              <div class="aui-avatar aui-avatar-medium">
                                 <div class="aui-avatar-inner">
                                     <img alt="" src="<%= comment.creator.image.nil? ? "https://bitbucket.org/account/mbaque/avatar/32/?ts=1491727622" : comment.creator.image %>"/>
                                 </div>
                              </div>
                           </a>
                           <a href="/mbaque/" class="author" title="<%= " #{comment.creator.name}" %>
                              ">
                           <%= "#{comment.creator.name}" %>
                           </a>
                           <!--Mirar el tema dels reporters i repo owner
                              <span class="aui-lozenge aui-lozenge-complete aui-lozenge-subtle user-issue-lozenge">reporter</span>-->
                        </header>
                        
                        <div>
                        <ul class="changes">
                           <% if comment.pin_to_top == 2 %>
                           <li>
                             <%= comment.text %>  
                           </li>
                        </ul>
                           <% else %>
                           <%= comment.text %>
                           <% end %>
                        </div>
                        
                        <ul class="comment-actions">
                              <% if comment.pin_to_top != 2 %>
                             <li>
                                 <% if comment.pin_to_top == 1 %>
                                 <a class="comment-pin-link" data-pin-url="/api/internal/repositories/diego_lao_fib/issue_tracker_g13a/issues/1/comments/35823731/pin" href="#comment-pin">
                                    <%= link_to "Unpin", unpin_to_top_comment_path(:id => comment.id) %>
                                 </a>
                                 <% else %>
                                 <a class="comment-pin-link" data-pin-url="/api/internal/repositories/diego_lao_fib/issue_tracker_g13a/issues/1/comments/35823731/pin" href="#comment-pin">
                                    <%= link_to "Pin to top", pin_to_top_comment_path(:id => comment.id, :issue_id => @issue.id) %>
                                    
                                 </a>
                                 <% end %>
                              </li>
                              <% end %>   
                              <!-- <li></li><form method="POST" action="/diego_lao_fib/issue_tracker_g13a/issue/spam/1/35823731">
                                  <input type="hidden" name="csrfmiddlewaretoken" value="jJ0yQ9YNVgSmtZcaL8gJauvFjaS3HFSM">
                                  <a class="comment-spam-link" href="#comment-spam">
                                      Mark as spam
                                  </a>
                              </form>
                              </li>-->
                           <% if comment.pin_to_top != 2 %> 
                           <% if comment.author_id==(current_user.id) %>
                           <li>
                              <form method="POST" action="/diego_lao_fib/issue_tracker_g13a/issue/delete/1/35823731">
                                 <input type="hidden" name="csrfmiddlewaretoken" value="jJ0yQ9YNVgSmtZcaL8gJauvFjaS3HFSM">
                                 <title="SubmitComment">
                                 <%= link_to "Delete", destroy_comment_path(:id => comment.id, :issue_id => @issue.id) %>
                                 </title>   
                              </form>
                           </li>
                           <% end %>
                           <% end %>
                           <li>
                              <a class="permalink" href="#comment-35823731" title="Link directly to this comment">
                              <time datetime="2017-04-07T16:25:15+02:00" data-title="true" title="7 April 2017 16:25"><%= comment.created_at.strftime('%Y-%m-%d') %></time>
                              </a>
                           </li>
                        </ul>
                     </article>
                  </li>
                  <% end %>
                  <!-- new comment -->
                  <li class="new-comment">
                     <div class="user">
                        <div class="aui-avatar aui-avatar-medium">
                           <div class="aui-avatar-inner">
                              <img alt="" src="<%= current_user.image.nil? ? "https://bitbucket.org/account/mbaque/avatar/32/?ts=1491727622" : current_user.image %>"/>
                           </div>
                        </div>
                     </div>
                     <%= form_for :comment, :html => { :class => "aui top-label editor textarea-preview focused", :multipart => true }, :url => "/comments?issue_id=#{@issue.id}" do |f| %>
                     <div class="field-group">
                        <div class="markup-type-markdown">
                           <div id="markItUpId_new_comment" class="markItUp">
                              <div class="markItUpContainer">
                                 <%= f.text_area :text, :class=>"bb-mention-input markItUpEditor", :placeholder=>"What do you want to say?" %>
                                 <div class="markItUpFooter"></div>
                              </div>
                           </div>
                        </div>
                        <div class="preview-container wiki-content">
                           <!-- loaded via ajax -->
                        </div>
                        <div class="error"></div>
                     </div>
                     <div class="buttons">
                        <button class="aui-button aui-button-primary js-comment-button disabled" type="submit">Comment</button>
                     </div>
                     <% end %>
                  </li>
               </ol>
            </div>
         </div>
         </div>
         <!--quadre lateral-->
         <div class="aui-item sidebar">
            <div class="issue-attrs">
               <dl>
                  <dt>Assignee</dt>
                  <% if @issue.assignee != nil %>
                  <dd class="assignee with-icon">
                     <span class="aui-avatar aui-avatar-xsmall">
                     <span class="aui-avatar-inner">
                     <img src="<%= @issue.assignee.image.nil? ? "https://bitbucket.org/account/mbaque/avatar/32/?ts=1491727622" : @issue.assignee.image %>">
                     </span>
                     </span>
                     <% if @issue.assignee%>
                     <!-- enllaç a les meves issues -->
                     <span title=<%= @issue.assignee.name %>>
                     <%= @issue.assignee.name %>
                     </span>
                     <% else %>
                     <div>-</div>
                     <% end %>
                     <!--   </a>-->
                  </dd>
                  <% else %>
                  <span title="-">
                  -
                  </span>
                  <% end %>
               </dl>
               <dl>
                  <dt>Type</dt>
                  <dd class="type with-icon">
                     <a href="/issues?kind=<%= @issue.kind.id %>"> 
                     <span class="icon icon-<%= @issue.kind.name %>"></span>
                     <%= @issue.kind.name %>
                     </a>
                  </dd>
               </dl>
               <dl>
                  <dt>Priority</dt>
                  <dd class="priority with-icon">
                     <a href="/issues?priority=<%= @issue.priority.id %>">
                     <span class="icon icon-<%= @issue.priority.name %>"></span>
                     <%= @issue.priority.name %>
                     </a>
                  </dd>
               </dl>
               <dl>
                  <dt>Status</dt>
                  <dd class="status">
                     <a href="/issues?status=<%= @issue.status.id %>">
                     <%= @issue.status.name %>
                     </a>
                  </dd>
               </dl>
               <!--part de Votes/Watchers-->
               <dl>
                  <dt>Votes</dt>
                  <dd class="votes">
                     <%
                        existVote = Vote.exists?(user_id: session[:user_id], issue_id: @issue.id)
                        %>
                     <% if existVote %>
                     <%
                        vote = Vote.find_by(user_id: session[:user_id], issue_id: @issue.id);
                        %>
                     <span id="issue-vote-count" class="aui-badge aui-badge-active"><%= @issue.voters.count %></span>
                     <%= link_to 'Remove vote', "/votes/#{vote.id}?token=#{session[:oauth_token]}"  , {:method=>:delete} %>
                     <% else %>
                     <span id="issue-vote-count" class="aui-badge"><%= @issue.voters.count %></span>
                     <%= link_to 'Vote for this issue', "/votes?user_id=#{session[:user_id]}&issue_id=#{@issue.id}&token=#{session[:oauth_token]}"  , {:method=>:post} %>
                     <% end %>
                  </dd>
               </dl>
               <dl>
                  <dt>Watchers</dt>
                  <dd class="watchers">
                     <%
                        existWatch = Watch.exists?(user_id: session[:user_id], issue_id: @issue.id)
                        %>
                     <% if existWatch %>
                     <%
                        watch = Watch.find_by(user_id: session[:user_id], issue_id: @issue.id);
                     %>
                     <span id="issue-watch-count" class="aui-badge aui-badge-active"><%= @issue.watchers.count %></span>
                     <%= link_to 'Stop watching', "/watches/#{watch.id}?token=#{session[:oauth_token]}"  , {:method=>:delete} %>
                     <% else %>
                     <span id="issue-watch-count" class="aui-badge"><%= @issue.watchers.count %></span>
                     <%= link_to 'Watch this issue', "/watches?user_id=#{session[:user_id]}&issue_id=#{@issue.id}&token=#{session[:oauth_token]}"  , {:method=>:post} %>
                     <% end %>
                  </dd>
               </dl>
            </div>
         </div>
      
   </section>
</div></div>