<p>
  <img src="<%= @user.image.nil? ? "https://bitbucket.org/account/mbaque/avatar/32/?ts=1491727622" : @user.image %>" class="" alt="" style="width: 150px; height: 150px;">
</p>

<p>
  <strong>Username:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Apikey:</strong>
  <%= @user.api_key %>
</p>