<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @attachment.issue_id %>
</p>

<p>
  <strong>File:</strong>
  <%= @attachment.file %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
