<style>
  body{
  background: url(http://subirimagen.me/uploads/20170421110014.jpg) center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
</style>

<html>
  <body>
    <div class=" logo ">
     <img src= "http://i65.tinypic.com/ms0jtz.png" />
    <div class=" center ">
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>
    </div>
    <div>
    <%= yield %>
    </div>
  </body>

</html>
