<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @priority.name %>
</p>

<p>
  <strong>Asset:</strong>
  <%= @priority.asset %>
</p>

<%= link_to 'Edit', edit_priority_path(@priority) %> |
<%= link_to 'Back', priorities_path %>
