<!DOCTYPE html>
<html>
  <head>
    <title>Issue tracker</title>
    <link rel="icon" sizes="16x16 32x32" type="image/x-icon" href="<%= asset_url("icons/favicon/favicon.ico") %>">
    
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui.min.css" media="all">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui.min.js"></script>

  </head>
  <body>
    <div class= "left">
    <% if current_user %>
        Signed in as <%= link_to current_user.name, {controller: "users", action: "currentuser"}, {style: "color: 	#333; font-weight: bold;"} %>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <br>
        <%= link_to "Go to Issues Index", {controller: "issues", action: "index"}, {style: "color: 	#333; font-weight: bold;"} %>
    <%  end %>
    </div>
    <div>
    <%= yield %>
    </div>
  </body>
</html>